---
apiVersion: v1
kind: Secret
metadata:
  name: postgres-db-secrets
type: Opaque
data:
  username: value_pg_username
  password: value_pg_password
---
apiVersion: v1
kind: Secret
metadata:
  name: nginx-reverse-proxy-tls-secrets
type: kubernetes.io/tls
data:
  tls.crt: |
    value_tls_crt 
  tls.key: |
    value_tls_key

